<div class="album"> <!-- Album panel -->
  <span class="closeicon"><i class="icon-remove">X</i></span>
  <span class="closeicon"><i class="icon-remove">X</i></span>
  <div class="row">
<!--       <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
        <div class="well imagebg-3"></div>
      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well imagebg-4"></div>
      </div>
  </div>
  <!-- <div class="row">
      <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
        <div class="well imagebg-5"></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well imagebg-6"></div>
      </div>
  </div> -->
  <div class="row">
      <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
        <div class="well imagebg-7"></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well imagebg-8"></div>
      </div>
  </div>
  <div class="row">
      <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well imagebg-9"></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
        <div class="well imagebg-10"></div>
      </div>
  </div>
</div>
