<div class="album"> <!-- Album panel -->
  <span class="closeicon"><i class="icon-remove">a</i></span>
  <span class="closeicon"><i class="icon-remove">a</i></span>
  <div class="row">
      <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
        <div class="well imagebg-4 fixed-height"></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="well imagebg-5 fixed-height"></div>
      </div>
  </div>
  <div class="row">
      <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
        <div class="well imagebg-6 fixed-height"></div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="well imagebg-7 fixed-height"></div>
      </div>
  </div>
  <div class="row">
      <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
        <div class="well imagebg-8 fixed-height"></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="well imagebg-9 fixed-height"></div>
      </div>
  </div>
  <div class="row">
      <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="well imagebg-10 fixed-height"></div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
        <div class="well imagebg-11 fixed-height"></div>
      </div>
  </div>
  <div class="row">
      <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
        <div class="well imagebg-12 fixed-height"></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="well imagebg-13 fixed-height"></div>
      </div>
  </div>
</div>
