<div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="well redplum">
              <p><i class="icon-phone contact-icon"></i> 012 345 6789</p>
              <p><i class="icon-envelope-alt contact-icon"></i><a href="mailto:email@domain.com">email@domain.com</a></p>
              <a href="#">
                  <p class="social"><i class="icon-facebook"></i></p>
              </a>
              <a href="#">
                  <p class="social"><i class="icon-twitter"></i></p>
              </a>
              <a href="#">
                  <p class="social"><i class="icon-google-plus"></i></p>
              </a>
          </div>

          <div class="darkred well fixed-height">
              <p class="copy">&copy; Chris Tulip</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 large">
          <div class="blueberry well overflow-show large" id="contact">
              <h1>Contact</h1>
              <form id="tab">
                  <div class="outer-box">
                      <input type="text" placeholder="First Name" value="" class="input-block-level bordered-input">
                      <input type="text" placeholder="Last Name" value="" class="input-block-level bordered-input">
                      <input type="text" placeholder="Email" value="" class="input-block-level bordered-input">
                      <input type="text" placeholder="Subject" value="" class="input-block-level bordered-input">
                      <textarea placeholder="Message" rows="3" class="input-block-level bordered-input"></textarea>
                      <button class="btn transparent btn-large pull-right">Create Account</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

