<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="blueberry well fluid-height" id="contact">
        <h1>Contact</h1>
        <p>
          Ryan and Jenny teach their signature style of "Ballusion" a ballet inspired partner fusion as well as specific classes in lift, dips, leans, floor-craft, connection, musicality and more!
        </p>
        <p>
          Hire Ryan and Jenny for private lessons for 1 or 2 people, wedding dances, small group classes or large workshops. Please email us for rates &amp; availability: <a href="mailto:thesimsconnection@hotmail.com">thesimsconnection@hotmail.com</a>
        </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p>&copy; Chris Tulip</p>
    <p>Photo Credit to <a href="http://www.phasefirefilms.com/">Rob Hub</a>
  </div>
</div>

