<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="well orange shadow fixed-height-350"> <!-- Fixed height for 300px on all devices, shadow for a shadow and orange for the color -->
        <h1>The Sims Connection</h1>
        <p class="big">Anyone can learn to connect through dance</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
    <div class="well no-padding fixed-height-350">
        <%= image_tag("UpClose.jpg", class: "thingThatIWant") %>
    </div>
  </div>
</div>
