<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="well fixed-height person-square2">
      </div>
      <div class="well sedgebrown no-padding hidden-xs">
          <div class="well sedgebrown">
              <h1>Physiotheraphy</h1>
              <p>With a background in physiotherapy Jenny has been teaching group and one to one exercise programs since 2011</p>
          </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 large">
      <div class="tealblue well large overflow-show" id="about">
          <h1>Jenny Riley</h1>
          <div class="span3 pull-right padding border">
              <h2 class="text-center">Smart &amp; Sassy</h2>
          </div>
          <p>
            Jenny’s love of dance took off in 1999 when she discovered <span class="bold">Hip Hop</span>. She took home <span class="bold">first place</span> in several freestyle Hip Hop dance competitions and went on to <span class="bold">perform on stage</span> at many Electronic Music Festivals.
          </p>
          <div class="outer-box">
            <p>In early 2013 Jenny immersed herself in <span class="bold">Blues, Fusion, Ballroom, Kizomba, Salsa, Bachata, and Merengue</span>, dancing between 3 and 6 nights a week! Her more recent focus is on <span class="bold">Tango, Zouk and Ballet</span>. Jenny’s unique style and training make her a creative and well-rounded fusion dancer.
            </p>
          </div>
      </div>
  </div>
</div>
