
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 click" id="blogone"> <!-- id #blogone to trigger content panel below also .click is used on clickable items -->
    <div class="well no-padding fixed-height-350"> <!-- Fixed height for 300px on all devices, no-padding for a full div item -->
        <div class="bp-post fixed-height-350">
          <div class="overlay"></div>
          <div class="title">
              <h2>Performances</h2>
          </div>
        </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs"> <!-- .imagebg-2 css used for full div image -->
      <div class="blue  well fixed-height-350">
        <h1>Dancing</h1>
        <h1>Teaching</h1>
        <h1>Inspiring</h1>
        <h1>Find your Passion</h1>
      </div>
  </div>
</div>
<div class="blog-post-item one"> <!-- Only use this form of content panel when blog its matching to is the last col in the row so that it matches up on devices under 767px -->
  <div class="arrow-up left"></div>
  <h1>Ryan and Jenny's Freestyle Fusion Performances</h1>
  <p>
      Lyrical Fusion Performance at the Robson Square Salsa Dance Showcase, Vancouver BC July 2016
  </p>
  <div class="videoWrapper">
    <iframe src="https://www.youtube.com/embed/ViWuqHiBnpk" frameborder="0" allowfullscreen></iframe>
  </div>

  <p>
      2015 Seattle Fusion Festival Teacher Demo
  </p>
  <div class="videoWrapper">
    <iframe src="https://www.youtube.com/embed/Cxm3pegKLXk" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>
      Lyrical Fusion Performance at the Robson Square Salsa Dance Showcase Vancouver, BC. July 2015
  </p>
  <div class="videoWrapper">
    <iframe src="https://www.youtube.com/embed/OEez2JQXvQo" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
