<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 click" id="portfolio"> <!-- using .click because its clickable #portfolio is a trigger all changable in the script.js file, no padding lets the portfolio-img be full div -->
      <div class="well no-padding">
          <div class="portfolio-img one"> <!-- uses backstretch.js for full div effect, changable in script.js -->
              <div class="hover-effect effect-one">
                  <p class="text-center">
                      Portfolio Item #1
                  </p>
              </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 click" id="portfolio2">
      <div class="well no-padding">
          <div class="portfolio-img two">
              <div class="hover-effect effect-two">
                  <p class="text-center">
                      Portfolio Item #2
                  </p>
              </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 click" id="portfolio3">
        <div class="well no-padding">
          <div class="portfolio-img three">
              <div class="hover-effect effect-three">
                  <p class="text-center">
                      Portfolio Item #3
                  </p>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio4">
        <div class="well no-padding">
          <div class="portfolio-img four">
              <div class="hover-effect effect-four">
                  <p class="text-center">
                      Portfolio Item #4
                  </p>
              </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio5">
        <div class="well no-padding">
          <div class="portfolio-img five">
              <div class="hover-effect effect-five">
                  <p class="text-center">
                      Portfolio Item #5
                  </p>
              </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio6">
        <div class="well no-padding">
          <div class="portfolio-img six">
              <div class="hover-effect effect-six">
                  <p class="text-center">
                      Portfolio Item #6
                  </p>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio7">
          <div class="well no-padding">
            <div class="portfolio-img seven">
                <div class="hover-effect effect-seven">
                    <p class="text-center">
                        Portfolio Item #7
                    </p>
                </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio8">
          <div class="well no-padding">
            <div class="portfolio-img eight">
                <div class="hover-effect effect-eight">
                    <p class="text-center">
                        Portfolio Item #8
                    </p>
                </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio9">
          <div class="well no-padding">
            <div class="portfolio-img nine">
                <div class="hover-effect effect-nine">
                    <p class="text-center">
                        Portfolio Item #9
                    </p>
                </div>
            </div>
          </div>
      </div>
  </div>
