<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="home"> <!-- Overflow-show is used when .outer-box is used for example since it enables it to show outside the div -->
    <div class="well sage overflow-show large">
        <h1>Ryan Sims</h1>
        <div class="outer-box">
            <p>
                Ryan has been training and performing with the <span class="bold">Olympic Ballet Theatre</span> since 2010. His repertoire spans from Nutcracker Prince from <span class="bold">“The Nutcracker”</span> to Mordred from the contemporary piece “Griffes: Kairn of Koridwen” as well as many other appearances with ballet companies throughout the <span class="bold">Greater Seattle area</span>.
            </p>
        </div>
        <p>
          In 2010 he also started dancing <span class="bold">East Coast Swing</span>, from there, his love of partner dancing lead him to <span class="bold">West Coast Swing</span>, <span class="bold">Blues</span> and then in 2012 to <span class="bold">Fusion</span> dancing.
        </p>
        <div class="outside"> <!-- position changeable in css -->
            <h2 class="text-right">We teach outside the box.</h2>
        </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="fixed-width">
        <!-- imagebg-1 is useing css for the fullscreen background -->
        <%= image_tag("ryan-square.jpg", class: "fixed-width-jenny" ) %>
      </div>
      <div class="well darkgrey hidden-xs">
          <h1 class="text-right"><span class="bold">Adjudication</span></h1>
          <p class="text-right">Ryan was a judge at both State Street and Red Hot Fusion's Jack &amp; Jill competitions in Bellingham and Lynnwood in 2015.</p>
      </div>


  </div>
</div>
