<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
    <div class="well-slider plum">
        <div id="content" class="flexslider">
            <ul class="slides plum">
                <li>
                    <div class="padding">
                        <h2>Teaching: Leading and Following</h2>
                        <p>We give a comprehensive breakdown of both lead and follow roles as well as give individualized feedback to our students. </p>
                    </div>
                </li>
                <li>
                    <div class="content-slider padding">
                        <h2>Come Find Us</h2>
                        <p>Ryan and Jenny are happily married and are currently based in Seattle, WA, but they frequently travel to Victoria and Vancouver in BC, Belligham WA, and Portland OR</p>
                    </div>
                    <div class="image-slider">
                        <%= image_tag("north_america-512.png") %>
                    </div>
                </li>
                <li>
                    <div class="padding">
                        <h2>Teaching: Lifts</h2>
                        <p>Ryan and Jenny especially enjoy teaching students how to perform beautiful, safe and creative dance lifts. They strive to make each class informative, challenging and fun! </p>
                    </div>
                </li>
                <!-- <li>
                    <div class="content-slider padding">
                        <h2>Past Events</h2>
                        <p>In 2015 they taught workshop classes at the Bridgetown Fusion Festival, the Vancouver Next Level Fusion Exchange and the Seattle Fusion Festival.</p>
                    </div>
                    <div class="image-slider">
                        <%= image_tag("dance-icon.png") %>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="well no-padding fixed-height click" id="album">
        <div class="fixed-height photo-album">
            <div class="album">
                <div class="title">View Album</div>
            </div>
        </div>
    </div>
  </div>
</div>
