<div class="row" id="work">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well no-padding fixed-height-600 click" id="blogtwo"> <!-- click used n clickable items -->
            <div class="bp-post two">
                <div class="overlay"></div>
                <div class="title">
                    <h2>Teaching History</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-post-item two">
    <div class="arrow-up right"></div>
    <h2>Ryan</h2>
    <p>
      Ryan has been teaching Ballet and Fusion dance classes since 2011. In 2012 Ryan created his own style of partner dancing that he coined “Ballusion” which is a combination of ballet partnering (Pas de Deux) and Fusion dance esthetics. He teaches frequently around Washington State at Om Culture Center in Seattle, State Street Fusion in Bellingham as well as other venues in British Columbia and Oregon.
    </p>
    <h2>Jenny</h2>
    <p>
      With a background in physiotherapy Jenny has been teaching group and one to one exercise programs since 2011, which has greatly contributed to her understanding of how to teach movement and body mechanics. Jenny has taught at several dance socials in the Vancouver area including Blues Café, Fuse as well as Fusion Project events.
    </p>
    <h2>Ryan and Jenny Co-teaching</h2>
    <p>
      Ryan and Jenny give a comprehensive breakdown of both lead and follow roles as well as give individualized feedback to their students. They especially enjoy teaching students how to perform beautiful, safe and creative dance lifts. They strive to make each class informative, challenging and fun! They have taught together at several dance events in Vancouver B.C, Victoria B.C, Bellingham WA, Seattle WA and Portland OR. In 2015 they taught workshop classes at the Bridgetown Fusion Festival, the Vancouver Next Level Fusion Exchange and the Seattle Fusion Festival.
    </p>
</div>
